:root{
    --cor1: #FAF4EC;
    --cor2: #EDDCD8;
    --cor3: #D6D2C4;
    --cor4: #F7DAD9;
    --cor5: #F2BFD1;
    --cor6: #D6D2C4;
    --cor7: #968C83;
    --cor8: #D76B94;
    --cor9: #9170ae;
}

body {
    background-color: var(--cor1);
    color: #3b3447;
    font-family: 'Futura', 'Work Sans', sans-serif;
    line-height: 1.5;
    padding: 1rem;
}


main {
    max-width: 1080px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    /*background-color: var(--cor6);*/
    padding: 1rem 0;
    margin: 0;
    border-radius: 12px;
}

#studentId {
    margin-top: -0.5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.8rem 0;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid var(--cor7);
}

summary {
    font-size: 1.6em;
    margin: 0;
    padding-bottom: 0.3rem;
}

details[open] summary {
    border-bottom: 2px solid #8e857f;
    }

h3 {
    font-size: 1.2em;
    margin: 2.2rem 0 0.5rem 0;
}

p {
    margin: 0.8rem 0;
}

section {
    background-color: var(--cor2);
    padding: 1.2rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 12px;
    border: 1px solid #e7cfc8;
    box-sizing: border-box;
}

.example {
    color: var(--cor9);
    text-decoration: underline;
    font-weight: 500;
}

.example:hover {
    color: var(--cor8);
    text-decoration: none;
}

.link {
    color: var(--cor9);
}

.link:hover {
    color: var(--cor8);
    text-decoration: none;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #989898;
    font-style: italic;
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.flex-container figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 6px;
}